/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

body{
	margin: 0;
}
h1
{
	text-align: center;
}

h2,
p{
	text-align: center;
}

.karta{
	border: 1px solid silver;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 50%; /*když chci něco zarovnat na střed, musím mu definovat velikost*/
	margin-left: auto; /*zarovnání kartiček na střed*/
	margin-right: auto; /*zarovnání kartiček na střed*/
}

img{
	border-radius: 50%;
	max-width: 100%;
	display: block; /*zarovnání obrázku na střed*/
	margin: 0 auto; /*zarovnání obrázku na střed*/
	
}

@media screen and (min-width: 540px){
	.kontakty{
		display: flex; /*všechny karty na jednom řádku*/
		flex-wrap: wrap; /*na jednom řádku 2 karty*/
		justify-content: space-between; /*udělá mezeru mezi boxy*/
	}

	.karta{
		flex: 0 0 calc((100% - 40px) / 2); /*na jednom řádku 2 karty s volným místem k rozdělení 40 px*/
		display: flex;
	}

	h2,
	p{
		text-align: left;
		padding-left: 10px;
	}

	img{
		max-width: 200px;
	}
	

}
@media screen and (min-width: 960px){
	.karta{
		display: block;/**/
		flex: 0 0 calc((100% - 80px) / 4);
	}

	h2,
	p{
	text-align: center;
}

}